body {
	margin: 0;
}

header {
	width: 100vw;
	height: 75px;
	top: 0;
	background-color: #555;
	position: fixed;
	z-index: 2;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header_links{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: calc(100vw - 50px);
}

.headerlink {
	text-decoration-color: black;
	text-decoration: none;
	color: white;
}

.content {
	width: calc(100%);
	margin-top: 600px;
	background-color: lightgrey;
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about_us {
	margin-top: 75px;
}

.background_image_holder_home {
	background-image: url("../img/hotel_rum_insida2.jpg");
	z-index: -1;
	height: 1000px;
	position: fixed;
	width: 100%;
	top: 70px;
	background-size: 100%
}

.background_image_holder_pictures {
	background-image: url("../img/coruscant_skyline.jpg");
	z-index: -1;
	height: 1000px;
	position: fixed;
	width: 100%;
	top: 70px;
	background-size: 100%
}

h1{
	font-size: 90px;
	margin: 0;
	padding: 35px;
}

h2{
	font-size: 30px;
	margin: 0;
	transition: 0.5s;
}

h2:hover{
	text-decoration: underline;
	transition: 0.5s;
}

h3{
	font-size: 60px;
	margin: 0;
	padding: 10px;
}

.icon{
	margin-left: 15px;
}

.textblock_home {
	display: flex;
	flex-direction: row;
	border: 0;
	border-top: 2px;
	padding: 50px;
	border-style: solid;
	border-color: grey;
}

.textblock_pictures {
	display: flex;
	flex-direction: row;
	border: 0;
	border-bottom: 2px;
	padding: 50px;
	border-style: solid;
	border-color: grey;
}

.bildblock_mainpage {
	display: flex;
	flex-direction: column;
	align-items: center;
}

img.mainpage {
	width: 500px;
	margin-right: 100px;
	margin-left: 100px;
}

p.picture_credit {
	font-size: 20px;
	margin: 0;
}

p.mainpage {
	font-size: 20px;
	margin: 0;
	width: 500px;
	margin-right: 100px;
	margin-left: 100px;
}

p.about_us {
	font-size: 20px;
	margin: 0;
	margin-right: 100px;
	margin-left: 100px;
}

.position_flip {
	display: flex;
	flex-direction: row-reverse;
}

.scroll_up{
	position: fixed;
	bottom: 10px;
	left: 10px;
	z-index: 1;
}

.pictures_top {
	border-top: 2px;
	border-style: solid;
	border-color: grey;
}

.pictures_bottom {
	border-bottom: 0px;
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-gmail {
    width: 30px;
    height: 30px;
    background-position: -5px -5px;
}

.sprite-icon {
    width: 35px;
    height: 35px;
    background-position: -45px -5px;
}

.sprite-linkedin {
    width: 30px;
    height: 30px;
    background-position: -5px -50px;
}

.sprite-scroll_up_button {
    width: 35px;
    height: 35px;
    background-position: -45px -50px;
}

.sprite-tumblr {
    width: 30px;
    height: 30px;
    background-position: -90px -5px;
}

.sprite-twitter {
    width: 30px;
    height: 30px;
    background-position: -90px -45px;
}


.closed{
	display: none;
}